<div class="container">
  <div class="row">

    <div>
      <h2><%= @user.name %></h2>
      <table>
        <tr>
          <td><strong>E-mail</strong></td>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>

  </div>
</div>

